/bin/
/deploy/

*.pyc
/lastDeploy/
/lastdeploy/
/last_deploy/
computerarcheology/digs/trs80/xenos/general_commands.txt
computerarcheology/digs/trs80/xenos/objects.txt
computerarcheology/digs/trs80/xenos/section1.txt
computerarcheology/digs/trs80/xenos/section2.txt
computerarcheology/digs/trs80/xenos/section3.txt
computerarcheology/digs/trs80/xenos/section4.txt
computerarcheology/digs/trs80/xenos/section5.txt
computerarcheology/digs/trs80/xenos/section6.txt
computerarcheology/digs/trs80/xenos/section7.txt
computerarcheology/digs/trs80/xenos/section8.txt
computerarcheology/digs/trs80/xenos/section9.txt
computerarcheology/digs/trs80/xenos/subroutines.txt
