<!doctype html>

<html>

	<head>
		<title><!-- %%TITLE%% --></title>
		<meta charset="utf-8" />
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/ca.css">

		<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="/js/ca.js"></script>
		
		<!-- %%ADDITIONAL_HEAD%% -->
		
	</head>
	
	<body>
	
		<nav class="navbar navbar-fixed-top" role="navigation" style="background-color:#FFFFFF">
			<div class="container-fluid">        
        
				<img src="/img/logo.png" />  
				<!-- %%IMAGE%% -->          
        
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/Contact/">Contact</a></li>            
					<li><a href="/Help/">Help</a></li>
				</ul>
          
				<ol class="breadcrumb">
					<!-- %%BREAD_CRUMBS%% -->
				</ol>          
        
			</div>
		</nav>
	
		<div class="container-fluid">      
			<div class="row"> 
          
				<div class="col-md-2 sidebar">
					<ul class="nav nav-tabs" style="margin-bottom:16px;">
						<li id="siteTab" role="presentation" onclick="switchTab('site');"><a>Site</a></li>
						<li id="pageTab" role="presentation" class="active" onclick="switchTab('page');"><a>Page</a></li>
					</ul>
						
					<ul id="siteTree" class="hidden">
						<!-- %%SITE_TREE%% -->
					</ul>
		
					<ul id="pageTree">
						<!-- %%PAGE_TREE%% -->
					</ul>		

				</div> <!-- End of sidebar -->		
								      
			    <div class="col-md-10 col-md-offset-2 main">
				    <h1 class="page-header siteTarget"><!-- %%CONTENT_TITLE%% --></h1>

				    <!-- %%CONTENT%% -->
          
			    </div>
			
			</div> <!-- End of row -->
			
		</div> 

	</body>

</html>