<!doctype html>

<html>

	<head>
		<title><!-- %%TITLE%% --></title>
		<meta charset="utf-8" />
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="/css/ca.css">        
	
	    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	    <script src="/js/ca.js"></script>
	    	
	</head>

<body>
<div class="cont">

  <div class="top">
    <div id="help">
      <ul class="nav navbar-nav">
        <li><a href="/Contact/">Contact</a></li>       
      </ul>
    </div>
    <div id="banner">
      <img src="/img/logo.png" />
      <img id="pageImage" src="<!-- %%IMAGE%% -->"/>       
    </div>
    <div id="crumbs">
      <ol class="breadcrumb">		
	    <!-- %%BREAD_CRUMBS%% -->			
	  </ol> 
    </div>  
  </div>
  
  <div class="content">
  
    <div id="left">    
      <div id="tabs">
	    <ul class="nav nav-tabs">
		  <li id="siteTab" role="presentation" class="active"><a>Site</a></li>
		  <li id="pageTab" role="presentation"><a>Page</a></li>
		</ul>
      </div>
    
      <div id="siteTree">
        <ul >
          <!-- %%SITE_TREE%% -->
        </ul>
      </div>
    
      <div id="pageTree" class="hidden">
        <ul>
          <!-- %%PAGE_TREE%% -->
        </ul>
      </div>     
    </div>
    
    <div id="right">
    
      <!-- %%CONTENT%% -->
      
    </div>
    
  </div>
  
</div>

</body>

</html>