body {
  margin: 0;
  
}
body,
html,
.cont {
  height: 100%;
}
.cont,
.content {
  display: flex;  
}
.cont {
  flex-direction: column;
}
.content {
  flex: 1;
}
.content div {
  overflow: auto;
}

#left {	
	flex: 1;
	background-color: #f5f5f5;
	margin-right: 10px;
	padding-left: 10px;
}

#right {
	flex:5;
	padding-right: 10px;
}

#help {
	width:200px;
	float:right;
	padding-top:20px;
}
#banner {
	padding-left:4px;
}
#pageImage {
	height: 90px;
	padding-left:40px;
	margin-top:4px;
	margin-bottom:4px;
}

#tabs {
	padding-left: 0px;
	padding-right: 20px;
}

/* Navigation on the page */

.navTree {
	margin-top: 16px;
}
.navTree li {      
	background-position: 0px 0.4em;
    padding-left: 12px;
    background-repeat: no-repeat;  
    list-style-type: none;    
}
.navTree ul {
	padding-left:0px;
}
.navTree > :first-child {
	padding-left: 0px;
}

.navTree .collapsed {
    background-image: url(/img/plusbox.gif);
}
.navTree .expanded {
    background-image: url(/img/minusbox.gif);
}




.selectedPage {
	font-weight: bold;	
}
.selectedPagePath {
	font-style: italic;
}

#crumbs li.active {
	font-weight: bold;
}	

.activeItemPath {
	font-style: italic;
}

.activeItem {
	font-weight: bold;
}


.playMe {
	background-color: #dff0d8;
	padding-left: 20px;
}

.tourGuide {
	 background-color: #adc9f7;
	 padding-left: 20px;
}

.playMe, .tourGuide {
	border: 1px solid;
    border-radius: 10px;    
}

.playMe h1, .tourGuide h1 {
	margin-top:8px;
}

.plainCodePreStyle, .codePreStyle {
	background-color: #FFFFFF;
	border: 0px solid;
}

.cocoScreen {
	background: #00FF01; 
	color: #000; 
	font-family: 'Courier New', Courier, monospace; 
	font-size: 12px; 
	width: 32ch;
}

.addr_code {
	color: #337ab7;
	font-weight: bold;
}

.addr_ram {
	color: #00C000;
	font-weight: bold;
}

.addr_hard {
	color: #00C0C0;
	font-weight: bold;
}

.page-header {
	margin-top: 0px;
}

.pageNav_visual {
	color: green;
}

.block_plainCode {
	background-color: #FFFFFF;
	border: 0px solid;
}

.navSeparator {
	margin: 4px;
	border-color: #505050;
	width: 50%;
}


