
body {
	padding-top: 152px;
}

.sidebar {
    position: fixed;
    top: 152px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

.sna {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

.sn1 { 
  display: block;
  text-align : left;
  list-style-type: none;
  margin-left: -50px;
}

.snn {
  display: block;
  text-align : left;
  list-style-type: none;
  margin-left: -30px;
}

.codeAddressLink {  
	font-weight: bold;
}

.ramAddressLink {
  color:#00C000;
  font-weight: bold;
}

.hardwareAddressLink {
  color:#00C0C0;
  font-weight: bold;
}

.codePreStyle {
	background-color: #FFFFFF;
	border: 0px solid;
}

.siteTarget {
	padding-top: 152px;
    margin-top: -152px;
}
